*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.navbar{
    background-color: black;
    width: 2.5em;
    height: 2.5em;
    margin: 0.4em;
}
h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.2em;
    text-shadow: 6px 6px 4px rebeccapurple;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),url("istockphoto-487591111-1024x1024.jpg");
    background-size: cover;
    background-position: center;
    height: 12em;
}
h2{
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-left: 0.4em;
    text-shadow: 3px 3px 4px red;
}
